
*, *::before, *::after {
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
}
nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 20px;
}
.logo {
    width: 80px;
}

.menu_links{
    width: fit-content;
}
.menu_link {
    display: none;
}

.menu_burger {
    width: 40px;
    height: 40px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.hero_image {
    max-width: 100%;
}

.hero{
    display: flex;
    flex-direction: column;
}

.carrousel{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.carrousel_item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 160px;
    max-height: 180px;
    gap: 14px;
}

.carrousel_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.carrousel_item > div:first-child {
    width: 100px;
}

.carrousel_item > div:first-child::before {
    content: '';
    display: block;
    width: 100px;
    height: 160px;
    max-height: 180px;
    background-size: cover;
    background-position: center;
}

.carrousel_image_1::before{
        background-image: url('https://images.letseat.mx/b92366b2ed75cba0f42d96dcb0d3e323.jpg');
}
.carrousel_image_2::before{
        background-image: url('https://images.letseat.mx/cf9c50f627f9411151fb0f39fb9de41b.jpg');
}
.carrousel_image_3::before{
        background-image: url('https://images.letseat.mx/0a91b7e6bed5c9ea6724c769d29d588b.jpg');
}

.carrousel_item h1 {
    font-size: 24px;
    color: #e85e54;
    margin: 0;
}

.carrousel_item h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0 4px;
}

.carrousel_item p {
    font-size: 14px;
    color: #6f6d71;
    margin: 0;
}


@media (min-width: 750px) {
    nav {
        height: 100px;
    }
    .menu_burger {
        display: none;
    }
    .menu_link{
        display: inline-block;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:"main main new"
                            "featured featured featured";
        gap: 14px;
    }

    .hero{
        grid-area: main;
        background-color: aqua;
    }
    .newsletter{
        grid-area: new;
        background-color: crimson;
    }
    .carrousel{
        grid-area: featured;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }

    .menu_links{
        display: flex;
        gap: 16px;
        justify-content: center;
        color: hsl(247.5deg 3.64% 43.14%)
    }
}




